.header-image {
    width: 100%;
    border-radius: 0;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
    /* margin-top: -2em; */
    margin-bottom: 2em;
  }
  
  .about-profile-pic {
    width: 30%;
    float: left;
    margin: 0 2em 1em 0;
  }

  .about-before-pic {
    width: 30%;
    float: right;
    margin: 2em 0em 0em 1em;
  }

  .about-during-pic {
    width: 25%;
    float: left;
    margin: 0 2em 1em 0;
  }

  /* .custom-size{
    margin-bottom: 10em;
  } */

  .custom-cert{
    width: 100%;
    /* margin: 0 2em 1em 0; */
  }

  /* .custon-video{
    width: 100%;
  } */