nav.navbar, .navbar-default {
    background-color: rgb(254, 255, 255) !important;
}

#navbarNav ul li a,
#navbarNav ul li a:after,
#navbarNav ul li a:before {
  transition: all .4s;
}
#navbarNav ul li a:hover {
  color: blue;
}

#navbarNav ul li a {
  position: relative;
}
#navbarNav ul li a:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: blue;
  height: 2px;
}
#navbarNav ul li a:hover:after {
  width: 100%;
}