.upper-footer {
    margin-top: 10em;
}

i {
    margin: 0 1em 0 1em;
    color: rgb(253, 252, 252);
}

.jumbotron-footer {
    /* background: #fafafa; */
    background: #3a415f;
    border-top: 1px solid #eaeaea;
    border-radius: 0;
    margin-bottom: 0;
    /* margin: 0em 0em 0em 0em; */
}

.footer-text {
    color: #a7aabb;
}